<aside class="logo" id="logo-section">
  <a href="{{ "/about" | relative_url }}" id="logo-link">
    <img class="gravatar" src="https://www.gravatar.com/avatar/0f20ebcc66f10f16c36a6013e485771f.png?s=80">
  </a>
  <span class="logo-prompt" id="logo-prompt">About the Author</span>
</aside>

<script>
  // 根据当前页URL动态修改
  if (window.location.pathname !== '/' && window.location.pathname !== '/index.html') {
    document.getElementById('logo-link').href = "{{ site.baseurl }}";
    document.getElementById('logo-prompt').textContent = 'Back to Home';
  }
</script>
